article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; }
ul { list-style: none; padding: 0; margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  background:url("/img/brilliant.png") 0 0 transparent repeat;
  color:#333;
}

.wrapper {
  max-width: 460px;
  margin: 0 auto;
  text-align: center;
}

section {
  width: 100%;
  display: inline-block;
  align-items: center;
}
section .title {
  font-size: 30px;
  font-weight: 900;
  color: rgba(255, 51, 51, 0.9);
  margin-bottom: 20px;
}

.avatar {
  display: inline-block;
  position: relative;
  height: 128px;
  width: 128px;
  margin: 20px 0 30px 0;
}
.avatar img {
  border-radius: 9999px;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}
/* borrowed from http://codepen.io/blixt/pen/ZGwwKW */
@keyframes cycle-colors {
  0% { border-color: hsl(0, 100%, 50%); }
  25% { border-color: hsl(90, 100%, 50%); }
  50% { border-color: hsl(180, 100%, 50%); }
  75% { border-color: hsl(270, 100%, 50%); }
  100% { border-color: hsl(360, 100%, 50%); }
}
@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}
.avatar::before,
.avatar::after {
  animation: pulse 2s linear infinite;
  border: #ccc solid 8px;
  border-radius: 9999px;
  box-sizing: border-box;
  content: ' ';
  height: 140%;
  left: -20%;
  opacity: .6;
  position: absolute;
  top: -20%;
  transform: scale(0.714);
  width: 140%;
  z-index: 1;
}
.avatar::after {
  animation-delay: 1s;
}
.avatar:hover::before,
.avatar:hover::after {
  animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
}
.avatar:hover::after {
  animation-delay: .5s;
}


h1, h2, h3, p {
  margin-top: 0;
}

ul {
  margin-bottom: 20px;
}

.experience h4 {
  display: inline;
  vertical-align: middle;
}
.experience strong {
  background: #e6fb92;
  box-shadow: #000 5px 5px 5px -5px;
  padding: 0px 2px;
  border-radius: 3px;
  font-weight: normal;
  font-style: normal;
  font-size: 95%;
}
.experience li {
  padding-bottom: 15px;
}
.duration {
  cursor: help;
  border-bottom: 1px dotted;
}

.skillset li {
  display: inline;
  font-size: 12px;
  font-style: italic;
}
.skillset li:after {
  content: " * ";
  font-weight: bold;
}

a {
  color: rgb(51, 181, 162);
  font-weight: 600;
  margin: 5px 0;
  display: block;
}